ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.payment-method {
  font-size: 1.5rem;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
}
.input-class{
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 10px;
  font-size: 1.5rem;
  //padding-top: 5px;
  //padding-bottom: 5px;
}
