<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Screen 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <ion-header collapse="condense">-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title size="large">{{ folder }}</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-header>-->

  <ion-grid style="max-width: 400px">
    <ion-row class="ion-justify-content-center">
      <ion-text color="dark">
        <h3> Enter Payment Amount</h3>
      </ion-text>

    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-input class="input-class" type="number" placeholder="Payment amount"></ion-input>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-text color="dark">
        <h3>Select Payment Method</h3>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <div>
          <ion-button size="large" color="danger" expand="block" (click)="presentActionSheet()" >{{paymentMethod}}
            <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Proceed to Payment</ion-button>
  </ion-toolbar>
</ion-footer>
