<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Screen 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <ion-header collapse="condense">-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title size="large">{{ folder }}</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-header>-->

  <ion-grid style="max-width: 400px">
    <!--    <ion-row class="ion-justify-content-center">-->
    <ion-card>

      <ion-card-content>
        <ion-input class="input-class" type="number" placeholder="Enter Payment Amount"></ion-input>
      </ion-card-content>
    </ion-card>


    <!--    </ion-row>-->
    <!--    <ion-row class="ion-justify-content-center">-->
    <!--      <ion-input class="input-class" type="number" placeholder="Payment amount"></ion-input>-->
    <!--    </ion-row>-->

    <!--    <ion-row class="ion-justify-content-center">-->
    <ion-card>
<!--      <ion-card-header>-->
<!--        <ion-card-title>-->

<!--        </ion-card-title>-->
<!--      </ion-card-header>-->
      <!--    </ion-row>-->
      <!--    <ion-row>-->
      <!--      <ion-col class="ion-text-center">-->
      <ion-card-content>
        <div>
          <ion-text class="ion-text-center" color="dark">
            <h1>Select Payment Method</h1>
          </ion-text>
          <ion-button color="danger" expand="block" (click)="presentActionSheet()" >{{paymentMethod}}
            <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
      <!--      </ion-col>-->
      <!--    </ion-row>-->
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Proceed to Payment</ion-button>
  </ion-toolbar>
</ion-footer>
