<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Screen 3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!--  <ion-header collapse="condense">-->
    <!--    <ion-toolbar>-->
    <!--      <ion-title size="large">{{ folder }}</ion-title>-->
    <!--    </ion-toolbar>-->
    <!--  </ion-header>-->

    <ion-grid style="max-width: 400px">
        <br>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Enter Payment Amount</ion-label>
                <ion-input  type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Payment Method</ion-label>
                <ion-select  interface="action-sheet" placeholder="Select">
                    <ion-select-option value="Contactless">Contactless</ion-select-option>
                    <ion-select-option value="Apple Pay">Apple Pay</ion-select-option>
                    <ion-select-option value="QR Code">QR Code</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div class="ion-padding">
            <ion-button expand="block" class="ion-no-margin" (click)="isVisible=true">
                <ion-icon slot="start" name="checkmark-circle-outline" ></ion-icon>
                Proceed to Payment
            </ion-button>
        </div>
        <ion-row [hidden]="!isVisible" class="ion-justify-content-center">
            <ion-spinner color="primary" style="width: 30px;height: 30px"></ion-spinner>

        </ion-row>

    </ion-grid>
</ion-content>
